body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 10px;
    background: #f0f0f0;
}
.controller_bar {
    width: 1990px;
    height: 70px;
    background-color: #D9D9D9;
    border-radius: 15px;
    position: absolute;
    top: 10px;
    left: 5px;
}
.account_settings {
    position: absolute;
    top: 10px;
    right: 206px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.5);
    overflow: hidden;
    background-color: #fff;
    transition: transform 0.3s;
}
.account_settings:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.img_of_profile {
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
#mainContent {
    transition: filter 0.3s;
}

.popup {
    width: 660px;
    height: 1000px;
    border-radius: 40px;
    position: absolute;
    border: 4px solid #9a9696;
    box-shadow: 0 0 20px 10px #9a9696;
    overflow: hidden;
    background: #f0f0f0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}


.popup2 {
    width: 2000px;
    height: 1060px;
    border-radius: 40px;
    position: absolute;
    border: 4px solid #9a9696;
    /*box-shadow: 0 0 20px 10px #9a9696;*/
    overflow: hidden;
    background: #f0f0f0;
    top: 90px;
    left: 10px;
    z-index: 1;
}

@keyframes breathe {
    0% { box-shadow: 0 0 15px 5px #9a9696; }
    50% { box-shadow: 0 0 20px 10px #9a9696; }
    100% { box-shadow: 0 0 15px 5px #9a9696; }
}
.popup {
    animation: breathe 2s infinite ease-in-out;
}


.close-btn {
    position: absolute;
    top: 35px;
    left: 35px;
    padding: 5px 10px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;

}
.close-btn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.edit_profile {
    position: absolute;
    top: 35px;
    right: 35px;
    font-size: 20px;
    color: #0f26e1;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}
.edit_profile:hover {
    transform: scale(1.1);
}




.edit_profile_photo{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translate(-50%);
    overflow: hidden;
    border: none;
    cursor: pointer;
}
@keyframes breathe_of_profile {
    0% { box-shadow: 0 0 15px 5px #9a9696; }
    50% { box-shadow: 0 0 20px 10px #9a9696; }
    100% { box-shadow: 0 0 15px 5px #9a9696; }
}
.edit_profile_photo {
    animation: breathe_of_profile 2s infinite ease-in-out;
}
.edit_profile_photo:hover {
    cursor: pointer;
}

.rectangle_for_mini_window {
    width: 500px;
    height: 180px;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 370px;
    left: 50%;
    transform: translateX(-50%);
    background: #D9D9D9;
}

.really_edit_profile_name_and_surname {
    width: 500px;
    height: 120px;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    background: #D9D9D9;
}

.really_profile_photo_changer{
    border-radius: 50%;
    width: 110px;
    height: 110px;
    position: absolute;
    left: 20px;
    top: 15px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    transition: transform 0.3s;
}
.really_profile_photo_changer:hover {
    transform: scale(1.1);
}

.img_of_really_profile_photo_changer {
    border-radius: 50%;
    width: 110px;
    height: 110px;
}

.edit_name{
    font-size: 20px;
    width: 320px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    top: 45px;
    left: 154px;
    transition: all 0.25s ease-in-out;
    color: #000000;
    background: #D9D9D9;
}

.edit_name:focus {
    outline: none;
}

.divider_bay {
    height: 2px;
    background-color: #333;
    width: 65%;
    position: absolute;
    top: 84px;
    right: 25px;
}

.rectangle_for_edit_birthday {
    width: 500px;
    height: 50px;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 320px;
    left: 50%;
    transform: translateX(-50%);
    background: #D9D9D9;
}

.edit_birthday_button {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: #0f26e1;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}
.edit_birthday_button:hover {
    transform: scale(1.1);
}

.edit_username_button {
    position: absolute;
    bottom: 15px;
    right: 15px;
    font-size: 20px;
    color: #0f26e1;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}
.edit_username_button:hover {
    transform: scale(1.1);
}

.rectangle_of_phone_and_username_changer {
    width: 500px;
    height: 100px;
    border-radius: 17px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 460px;
    left: 50%;
    transform: translateX(-50%);
    background: #D9D9D9;
}

.edit_phone_and_username{
    font-size: 20px;
    width: 320px;
    height: 20px;
    border-radius: 10px;
    position: absolute;
    top: 500px;
    left: 154px;
    transition: all 0.25s ease-in-out;
    color: #000000;
    background: #D9D9D9;
}

.edit_phone_and_username:focus {
    outline: none;
}

.divided_by_phone_and_username {
    height: 2px;
    background-color: #333;
    width: 90%;
    position: absolute;
    top: 50%;
    left: 30px;
}

/*sidebar part*/
.sidebar {
    width: 500px;
    height: 100vh;
    background-color: #ffffff;
    border-top-right-radius: 30px;
    color: #000000;
    position: fixed;
    left: -600px;
    top: 0;
    transition: left 0.3s ease-in-out;
    padding-top: 60px;
    border-color: black;
}
.sidebar a {
    display: block;
    color: white;
    padding: 15px;
    text-decoration: none;
}
.sidebar a:hover {
    background-color: #575757;
}
.menu-btn {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    background: transparent;
    border: none;
}
.menu-btn:hover {
    transform: scale(1.1);
}
.sidebar.active {
    left: 0;
}
.image_of_sidebar{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 50%;
    left: 1px;
    transform: translateY(-29%);
}

.close_sidebar {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
    cursor: pointer;
    padding: 10px 15px;
    background: transparent;
    border: none;
}
.close_sidebar:hover {
    transform: scale(1.1);
}
.image_of_close_sidebar{
    width: 40px;
    height: 40px;
    position: absolute;
    top: 1px;
    left: 1px;
    transform: translateY(-29%);
}

/*elements of sidebar*/
.learning_button {
    position: absolute;
    top: 180px;
    left: -40px;
    font-size: 20px;
    cursor: pointer;
    width: 470px;
    height: 80px;
    border-radius: 40px;
    border: 2px solid black;
    background-color: lightgray;
}

.learning_button:hover {
    transform: scale(1.1);
}

.quiz_button {
    position: absolute;
    top: 280px;
    left: -40px;
    font-size: 20px;
    cursor: pointer;
    width: 470px;
    height: 80px;
    border-radius: 40px;
    border: 2px solid black;
    background-color: lightgray;
}

.quiz_button:hover {
    transform: scale(1.1);
}

.home_work_button {
    position: absolute;
    top: 380px;
    left: -40px;
    font-size: 20px;
    cursor: pointer;
    width: 470px;
    height: 80px;
    border-radius: 40px;
    border: 2px solid black;
    background-color: lightgray;
}

.home_work_button:hover {
    transform: scale(1.1);
}

.grader_button {
    position: absolute;
    top: 480px;
    left: -40px;
    font-size: 20px;
    cursor: pointer;
    width: 470px;
    height: 80px;
    border-radius: 40px;
    border: 2px solid black;
    background-color: lightgray;
}

.grader_button:hover {
    transform: scale(1.1);
}

.open_all_courses {
    position: absolute;
    top: 10px;
    left: 10px;
}

.course_container {
    position: absolute;
    top: 90px;
    left: 10px;
    width: 1990px;
    height: 1060px;
    border-radius: 10px;
    /*border: 2px solid #000000;*/
}




